<ion-view title="Main">
  <ion-header-bar class="bar-stable">
    <h1 class="title">CookieCutter</h1>
    <div class="buttons">
      <button class="button button-outline button-positive" ng-click="gotoPhoto()">Start</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row">
      <div class="price-tag col col-offset-60">
        <p>15 €</p>
      </div>
    </div>
    <div class="row">
      <div class="padding" style="margin: 40px;">
        <img class="placeholder" src="img/oven.png"/>
      </div>
    </div>
  </ion-content>
</ion-view>
