<ion-view title="Vorschau">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear back-arrow">
      <p class="ion-arrow-left-c"></p>
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-outline button-positive"  ng-hide="loading">Bestellen</button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="loading" ng-show="loading">
    <div class="row" style="margin-top: 70px;">
      <div class="col">
      </div>
      <div class="col col-67">
        <img src="img/oven.png" style="width: 100%; height: auto;"></img>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-90">
        <p class="padding" style="text-align: center; color: #bdbdbd; font-size: 16px; font-weight: bold;">Einen Moment Geduld, wir backen gerade dein Plätzchen...</p>
      </div>
      <div class="col">
      </div>
    </div>
  </ion-content>
  <ion-content scroll="true" ng-hide="loading">

    <div class="row" style="min-height:15%">
      <div class="price-tag col">
        <p class="accented-text">15 €</p>
      </div>
    </div>

    <div class="row" style="min-height: 40%;">
      <div class="col">
      </div>
      <div class="col col-90">
          <canvas co-render data="data"></canvas>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="grey-divider"></div>

    <div>
      <p class="padding" style="font-size: 16px; margin-bottom: 0;">Größe</p>
      <div class="row">
        <div class="col">
          <button class="button button-outline button-block button-positive" style="font-size: 13px;">6 x 6 cm</button>
        </div>
        <div class="col">
          <button class="button button-outline button-block" style="font-size: 13px; min-width: 32px">8 x 8 cm</button>
        </div>
        <div class="col">
          <button class="button button-outline button-block" style="font-size: 13px; min-width: 32px">10 x 10 cm</button>
        </div>
      </div>
    </div>
    <div class="grey-divider"></div>

    <div>
      <p class="padding" style="font-size: 16px; margin-bottom: 0;">Beschreibung</p>
      <p class="padding" style="color: #B2B2B2">
        Plätzchenausstecher aus lebensmittelechtem (FDA) Kunststoff, welcher individuell nach deiner Zeichnung
        angefertigt wurde.
      </p>
    </div>
    <div class="grey-divider"></div>

    <div>
      <p class="padding" style="font-size: 16px; margin-bottom: 0;">Verfügbarkeit</p>
      <p class="padding" style="color: #B2B2B2">
        Dieses Produkt ist innerhalb von 3-5 Werktagen lieferbar.
      </p>
    </div>
  </ion-content>
</ion-view>
